<div class="grid-container">
  <mat-chip-list aria-label="Player turn">
    <div *ngIf="this.playersTurn">
      <mat-chip
        color="accent"
        matBadge="{{ player1Score }}"
        matBadgePosition="before"
        matBadgeColor="primary"
      >
        Player 1</mat-chip
      >
    </div>
    <div *ngIf="!this.playersTurn">
      <mat-chip
        color="accent"
        matBadge="{{ player1Score }}"
        matBadgePosition="before"
        matBadgeColor="primary"
        selected
        ><strong>Player 1</strong></mat-chip
      >
    </div>
    <div *ngIf="!this.playersTurn">
      <mat-chip
        matBadge="{{ player2Score }}"
        matBadgePosition="after"
        matBadgeColor="primary"
        color="accent"
        >Player 2</mat-chip
      >
    </div>
    <div *ngIf="this.playersTurn">
      <mat-chip
        matBadge="{{ player2Score }}"
        matBadgePosition="after"
        matBadgeColor="primary"
        color="accent"
        selected
        ><strong>Player 2</strong></mat-chip
      >
    </div>
    <div *ngIf="winner != null && winner != undefined">
      <mat-chip
        ><strong
          >Winner: <span *ngIf="winner">Player 2</span
          ><span *ngIf="!winner">Player 1</span></strong
        ></mat-chip
      >
    </div></mat-chip-list
  >
</div>
