.mat-dialog-actions {
  padding-bottom: 1em;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.mat-dialog-content {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
}
